.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: lightgoldenrodyellow;
}

.rightItems {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    
}